/* --- Global Styles --- */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  padding: 0 24px; 
  align-items: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* --- Header & Navigation --- */
.header {
    background: #006400;
    color: white;
    padding: 12px 48px;
    border-bottom: #e84949 3px solid;
    display: flex;
    justify-content: center;
    flex-direction: row;  
    position: sticky;
}

.header a {
    all: unset;
  cursor: pointer;
  font-weight: 700;
  padding: 6px 12px;
  color: #171717;
  border-radius: 4px;
  letter-spacing: 10px;
}

.header ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.header li {
    display: inline;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: center;
}

.header #branding {
    float: left;
}

.header #branding h1 {
    margin: 0;
}

.header nav {
    float: right;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

/* --- Main Content Area --- */
.main-content {
    padding: 20px;
    background: #ffffff;
    margin-top: 20px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

p {
    margin-bottom: 10px;
}

/* --- Footer --- */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.content {
  background-color: white;
  padding: 15px;
  width: 100%;
    max-width: 1280px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px gray;
    text-align: left;
}
